##Arithmetic operators

In [1]:
x = 5
y = 3

print(x + y)

8

In [2]:
x = 10
y = 3

print(x - y)

7

In [3]:
x = 5
y = 3

print(x * y)

15

In [4]:
x = 5
y = 3

print(x / y)

1.6666666666666667

In [5]:
x = 5
y = 2

print(x % y)

1

In [6]:
x = 5
y = 2

print(x ** y)

25

In [7]:
x = 15
y = 2

print(x // y)

7

##Assignment operators

In [8]:
x = 5

print(x)

5

In [9]:
x = 5

x += 3

print(x)

8

In [10]:
x = 5

x -= 3

print(x)

2

In [14]:
x = 5

x *= 3

print(x)


x = 5

x /= 3

print(x)

x = 5

x %= 3

print(x)

x = 5

x //= 3

print(x)

x = 5

x **= 3

print(x)

15
1.6666666666666667
2
1
125

##Comparison Operators

In [16]:
x = 5
y = 3

print(x == y)


x = 5
y = 3

print(x != y)

False
True

In [17]:
x = 5
y = 3

print(x > y)

True

In [18]:
x = 5
y = 3

print(x < y)

False

In [19]:
x = 7
y = 6

print(x >= y)

True

In [21]:
x = 5
y = 9

print(x <= y)

True

##Logical Operators

In [22]:
x = 5

print(x > 3 and x < 10)

True

In [25]:
x = 5

print(x > 3 or x < 10)

True

In [33]:
x = ["Grapes", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)
print(x is y)
print(x == y)
print(x is not z)
print(x is not y)
print(x != y)

True
False
False
False
True
True

In [32]:
x = ["Grapes", "banana"]

print("banana" in x)

print("Orange" not in x)

True
True

In [36]:
username = input()
password = input()

if username == "basha" and password == "basha123":
    print("Login successful")
else:
    print("Invalid credentials")

basha
basha123
Login successful

In [39]:
x=21
if x>20:
    print("data")
    print("Edukron")

data
Edukron

In [43]:
x="data1science"
if x.isalnum():
    print("test")

test

In [44]:
x="1236789"
if x.isalnum() and len(x)>5:
    print("test")

test

In [45]:
x="Data"
if x.startswith("d".upper()):
    print("test")
else:
    print("edukron")

test

In [51]:
x=3
y=20
if x>2:
    x=x+200
else:
    y=200+x
print(x,y)

203 20

In [47]:
x=1
y=20
if x>5:
    x=x+5
    y=x-2
    x=y+2
else:
    x=x+1
    y=y+2
print(x,y)

2 22

In [52]:
x = 1
y = 20
if x > 5:
    x = x + 5
    y = x - 2
    x = y + 2
else:
    x = x + 1
    y = y + 2
print("Example 1:", x, y)

Example 1: 2 22

In [53]:
a = 10
b = 5
if a < b:
    a += 2
    b += 3
else:
    a -= 2
    b *= 2
print("Example 2:", a, b)

Example 2: 8 10

In [54]:
x = 3
y = 7
if x * 2 > y:
    x = x * 2
    y = y - 1
else:
    y = y + 3
    x = y - x
print("Example 3:", x, y)

Example 3: 7 10

In [55]:
p = 12
q = 3
if p / q == 4:
    p = p + q
else:
    p = p - q
print("Example 4:", p, q)

Example 4: 15 3

In [56]:
x = 11
y = 8
if x % 2 == 0:
    y = y + 1
else:
    x = x + 2
    y = y - 2
print("Example 5:", x, y)

Example 5: 13 6

In [57]:
a = 5
b = 15
if a > 2 and b < 20:
    a = a * 2
    b = b - 5
else:
    a = a + b
print("Example 6:", a, b)

Example 6: 10 10

In [58]:
x = 4
y = 9
if y > x:
    x = x + y
    y = y - x
else:
    x = x - y
print("Example 7:", x, y)

Example 7: 13 -4

In [59]:
a = 8
b = 12
if a == b:
    a = a * b
else:
    b = b - a
print("Example 8:", a, b)

Example 8: 8 4

In [60]:
x = 6
y = 6
if x >= y:
    x = x ** 2
    y = y + 1
else:
    y = y ** 2
print("Example 9:", x, y)

Example 9: 36 7

In [61]:
a = 2
b = 18
if b % a == 0:
    b = b // a
else:
    a = b % a
print("Example 10:", a, b)

Example 10: 2 9

##LOOPS

In [63]:
x="Bhasha1"
for z in x:
    print(z.isalpha())

True
True
True
True
True
True
False

In [72]:
    x=[[4,5,6,"Data"],1,2,3,"data"]

In [73]:
for i in x:
    print(len(str(i)))

17
1
1
1
4

In [74]:
x="Data science machine leanring"
for i in x.split():
    print(len(i))

4
7
7
8

In [75]:
for i in [1,2,3,4,5]:
    print("*"*(6-i))

*****
****
***
**
*

In [76]:
for i in range(1,6):
    print(i,end=',')

1,2,3,4,5,

In [77]:
 for i in range(0,15):
  print(i,end=",")

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,

In [78]:
from typing import Counter
num=[1,3,5,7,9,2]
Counter=[ ]
for i in num:
  square=i**2
  Counter.append(square)
print(Counter)

[1, 9, 25, 49, 81, 4]